html, body {
    height : 100%;
    width  : 100%;
    padding : 0;
    margin  : 0;

    font-size : 3.2vw; /* 24/7.5 */
    -webkit-text-size-adjust : none;

    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;

    -moz-user-select : none;
    -webkit-user-select : none;
    -ms-user-select : none;
    -khtml-user-select : none;
    user-select : none;
}

@media screen and (max-width : 320px) {
    html, body {
        font-size : 3.75vw;
    }
}

.imgWrapper {
    font-size : 0;
    line-height : 0;
}

.imgWrapper img {
    width : 100%;
    height : auto;
}


header {
    width  : 100%;
    height : 11.2vw; /* 84/7.5 */
    position : fixed;
    left : 0;
    top : 0;
    z-index : 10;
    overflow : hidden;

    background-color : rgba(250, 250, 250, 0.95);
    border-bottom : solid #dcddde 1px;
}

header #headBarLeft {
    width  : 20%;
    height : 100%;
    float : left;
    -webkit-tap-highlight-color : transparent;
}

header #headBarLeft .imgWrapper {
    width : 2.8vw;
    margin : 3.27vw;
    float : left;
}

header #headBarCenter {
    width  : 60%;
    height : 100%;
    float : left;
    text-align : center;

    color : #262626;
    font-size : 1.33em;
    font-weight : bold;
    line-height : 11.2vw;
}

header #headBarRight {
    width  : 16%;
    height : 100%;
    padding-right : 4%;
    float : right;
    text-align : right;
    font-size : 1.17em;
    line-height : 300%; /* 84/28 */
    -webkit-tap-highlight-color : transparent;
}

#container {
    width  : 100%;
    padding-top : 10.8vw; /* 81/7.5 */
    padding-bottom : 10.8vw; /* 81/7.5 */
    overflow : auto;
}

@media screen and (max-width : 320px) {
    header {
        height : 13.125vw;
        line-height : 13.125vw;
    }
    header #headBarLeft .imgWrapper {
        width : 3.28vw;
        margin : 3.83vw;
    }
    header #headBarCenter {
        line-height : 13.125vw;
    }
    #container {
        padding-top : 12.66vw;
        padding-bottom : 12.66vw;
    }
}

#mainNav {
    height : 10.76vw;
    width  : 84%;
    padding: 0 8% 0 8%;
    position : fixed;
    left : 0;
    bottom : 0;
    z-index : 10;
    overflow : hidden;
    white-space : nowrap;
    display : none;
    background-color : #fafafa;
    border-top : solid #bfbfbf 1px;
}

#mainNav .bottomNav {
    height : 100%;
    width : 33.33%;
    display : inline-block;
    text-align : center;
    outline : none;
    -webkit-appearance : none;
    -webkit-tap-highlight-color : transparent;
}

#mainNav .bottomNav img {
    width : 23.8%;
    height : auto;
    margin-top : 7.14%;
}

@media screen and (max-width : 320px) {
    #mainNav {
        height : 12.5vw;
    }
    #mainNav .bottomNav img {
        width : 27.78%;
    }
}

#coverLayer {
    width : 100vw;
    height : 100vh;
    position : fixed;
    top : 0;
    left : 0;
    z-index : 20;
    display : none;
    background-color : rgba(0, 0, 0, 0.7);
}

@-webkit-keyframes loadingAnimation {
    0% {
        -webkit-transform: rotate( 0deg );
    }
    16.67% {
        -webkit-transform: rotate( 60deg );
    }
    33.33% {
        -webkit-transform: rotate( 120deg );
    }
    50% {
        -webkit-transform: rotate( 180deg );
    }
    66.67% {
        -webkit-transform: rotate( 240deg );
    }
    83.35% {
        -webkit-transform: rotate( 300deg );
    }
    100% {
        -webkit-transform: rotate( 360deg );
    }
}

.loadingImg {
    width : 7.2%; /* 54/7.5 */
    height : auto;
    margin : 4.27% 46.4% 4.27% 46.2%; /* 32/7.5 */
    display : none;
    -webkit-animation : loadingAnimation 2s linear 0s infinite;
}
